.title{
    float: right;
    font-size: 24px;
}
.content{
    display: flex;
    float: right;
}

.category-item{
    float: right;
}
.category-item . fa
{
    font-size: 20px;
}
.category-item span {
    font-size: 20px;
}
.sidebar .card-header a
{
    color: #000;
}
.sidebar .card-header:hover
{
    background-color: darkslategrey;
    color: #FFF;
}
.sidebar .card-header:hover a
{
    color: #FFF;
}
.sidebar .card-header a:hover{
    cursor: pointer;
    text-underline: none;
    color: #FFF;
}
/* start in Main Dashboard*/
.counter-block h5 , .counter-block h1
{
    text-align: center;
}
/* start usertable */
.users-table{
    text-align: center;
    border: 1px solid #ccc;
}
th , td{
    text-align: center
}
.add-user{
    background-color: lightgray;
    float: right;
    position: relative;
    top: 9px;
    width: 178px;
    color: #000;
}